<div class="container-fluid">
    <div class="row">
        <div class="col-md bg-primary">
            <Game />
        </div>
        <div class="col-md bg-primary">
            <Farm />
            <GreaterInvestments />
        </div>
        <div class="col-md bg-primary">
            <Crafts />
            <LesserInvestments />
        </div>
        <div class="col-sm bg-primary">
            <Events />
        </div>
    </div>
    <div class="row">
        <div class="col-md bg-warning">
            <Opponent />
        </div>
        <div class="col-md bg-warning">
            <Opponent />
        </div>
        <div class="col-md bg-warning">
            <Opponent />
        </div>
    </div>
</div>
