<div class="container-fluid">
    <div class="row">
        <div class="col-md bg-primary p-0">
            <Game />
        </div>
        <div class="col-md bg-primary p-0">
            <Farm />
            <GreaterInvestments />
        </div>
        <div class="col-md bg-primary p-0">
            <Crafts />
            <LesserInvestments />
        </div>
        <div class="col-sm bg-primary p-0">
            <Events />
        </div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
